.index_calendar {
  width: 40px;
  height: 40px;
}

.index_cloud {
  width: 40px;
  height: 40px;
}

.index_download {
  width: 40px;
  height: 40px;
}

.index_drawer {
  width: 40px;
  height: 40px;
}

.index_heart {
  width: 40px;
  height: 40px;
}

.index_input {
  width: 40px;
  height: 40px;
}

.index_magnifier {
  width: 40px;
  height: 40px;
}

.index_pencil {
  width: 40px;
  height: 40px;
}

.index_sapling {
  width: 40px;
  height: 40px;
}

.index_school {
  width: 40px;
  height: 40px;
}

.index_tutor {
  width: 40px;
  height: 40px;
}

.index_up {
  width: 40px;
  height: 40px;
}

